<template>
    <nav>
        <v-toolbar flat app>
            <v-toolbar-side-icon class="grey--text" @click="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title class="text-uppercase grey--text">
                <span class="font-weight-light">Jesús</span>
                <span class="blue--text darken-2">Panel</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn flat color="grey" to="/">
                <span>Logout</span>
                <v-icon right>power_settings_new</v-icon>
            </v-btn>
        </v-toolbar>
        <v-navigation-drawer app v-model="drawer" class="teal lighten-3">
            <v-toolbar flat class="teal lighten-2">
                <v-list>
                    <v-list-tile>
                        <v-list-tile-title class="text-uppercase white--text darken-2 font-weight-medium">
                            Vuetifel v 0.1
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-toolbar>
            <v-list two-line subheader>
                <v-list-tile
                        avatar
                        @click=""
                >
                    <v-list-tile-avatar>
                        <img src="/images/profile/user.png" alt="">
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>Jesús Estévez</v-list-tile-title>
                        <v-list-tile-sub-title>Administrator</v-list-tile-sub-title>
                    </v-list-tile-content>

                </v-list-tile>
            </v-list>

            <v-divider></v-divider>
            <v-flex xs10 sm10 md10 lg10 offset-xs1 offset-sm1 offset-md1 offset-lg1 align-self-center>
            <v-text-field
                    label="Search"
                    single-line
                    prepend-inner-icon="search"
                    clearable
            ></v-text-field></v-flex>

            <!-- <v-list v-for="link in links" :key="link.name" router :to="link.route"> -->
            <v-list v-for="link in links" :key="link.name">
                <v-list-group
                        v-for="item in items"
                        :key="item.title"
                        v-model="item.active"
                        :prepend-icon="item.action"
                        no-action>

                    <template v-slot:activator>
                        <v-list-tile>
                            <v-list-tile-content>
                                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </template>

                    <v-list-tile
                            v-for="subItem in item.items"
                            :key="subItem.title"
                            @click=""
                    >
                        <v-list-tile-content>
                            <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
                        </v-list-tile-content>

                        <v-list-tile-action>
                            <v-icon>{{ subItem.action }}</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>

                </v-list-group>

            </v-list>
        </v-navigation-drawer>
    </nav>
</template>

<script>
    export default {
        data() {
            return {
                search: '',
                drawer: true,
                links: [
                    {icon: "dashboard", text: "Dashboard", route: "/"}
                ],
                items: [
                    {
                        action: 'local_activity',
                        title: 'Attractions',
                        items: [
                            {title: 'List Item'}
                        ]
                    },
                    {
                        action: 'restaurant',
                        title: 'Dining',
                        items: [
                            {title: 'Breakfast & brunch'},
                            {title: 'New American'},
                            {title: 'Sushi'}
                        ]
                    },
                    {
                        action: 'school',
                        title: 'Education',
                        items: [
                            {title: 'List Item'}
                        ]
                    },
                    {
                        action: 'directions_run',
                        title: 'Family',
                        items: [
                            {title: 'List Item'}
                        ]
                    },
                    {
                        action: 'healing',
                        title: 'Health',
                        items: [
                            {title: 'List Item'}
                        ]
                    },
                    {
                        action: 'content_cut',
                        title: 'Office',
                        items: [
                            {title: 'List Item'}
                        ]
                    },
                    {
                        action: 'local_offer',
                        title: 'Promotions',
                        items: [
                            {title: 'List Item'}
                        ]
                    }
                ]
            };
        }
    };
</script>

<style>
</style>
