<template>
  <v-app class="grey lighten-4">
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
// import NavBar from '../global/NavBar'
export default {
  // components: { NavBar},
  data() {
    return {
      drawer: null,
      source: "false"
    };
  }
};
</script>