<template>
    <v-app>
        <v-content>
            <v-layout align-center justify-center row fill-height>
                <v-container fluid>
                    <v-layout align-center justify-center row ><span class="my-title red--text lighten-1"> Jesús Admin panel</span></v-layout>
                    <v-layout row>

                        <v-flex sm8 offset-sm2 md4 offset-md4>
                            <v-card class="elevation-4">
                                <v-card-text>
                                    <v-form
                                            ref="form"
                                            v-model="valid"
                                            lazy-validation
                                            p5
                                    >

                                        <v-text-field
                                                ref="email"
                                                v-model="email"
                                                :rules="[rules.required, rules.email]"
                                                label="E-mail"
                                                required
                                        ></v-text-field>
                                        <v-text-field
                                                ref="password"
                                                :append-icon="show4 ? 'visibility' : 'visibility_off'"
                                                :rules="[rules.required, rules.min]"
                                                :type="show4 ? 'text' : 'password'"
                                                name="password"
                                                label="Password"
                                                v-model="password"
                                                @click:append="show4 = !show4"
                                        ></v-text-field>

                                        <v-btn
                                                color="success"
                                                router
                                                to="/main"
                                        >
                                            Login
                                        </v-btn>

                                        <v-btn
                                                color="error"
                                                @click="reset"
                                        >
                                            Cancel
                                        </v-btn>


                                    </v-form>
                                </v-card-text>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-layout>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        name: "Login",
        data: () => ({
            valid: true,
            email: '',
            password: '',
            show4: false,
            rules: {
                required: value => !!value || 'Required.',
                min: v => v.length >= 8 || 'Password too short',
                email: v => /.+@.+/.test(v) || 'E-mail must be valid'
            }
        }),

        methods: {
            reset() {
                this.$refs.form.reset()
            },
        }
    }
</script>

<style scoped>
    .my-title {
        font-family: 'Varela Round', sans-serif;
        font-size: 3rem;
        margin-bottom: 75px;
    }

</style>