<template>
    <v-app>
        <NavBar/>
        <v-content>
            <router-view/>
        </v-content>
    </v-app>
</template>

<script>
    import NavBar from '../global/NavBar'
    export default {
        components: { NavBar},
        name: "main"
    }
</script>

<style scoped>

</style>